.login-right .panel .panel_1 .input_group .input2 {
    margin-top: 10px;
}

.login-right .panel .panel_1 .input_group .input3 {
    margin-top: 10px;
    position: relative;
}

.login-right .panel .panel_1 .input_group .input3 input {
    width: calc(100% - 160px);
}

.login-right .panel .panel_1 .input_group .input3 p:after {
    content: url(../images/confirm.png);
    width: 18px;
    height: 26px;
    position: absolute;
    top: 11px;
    left: 15px;
}

.login-right .panel .panel_1 .input_group .input3 button {
    height: 48px;
    float: right;
    width: 110px;
    text-align: center;
    font-size: 16px;
    color: #087fff;
    line-height: 48px;
    background: #fff;
    border: none;
    cursor: pointer;
}